jv-json-viewer {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}
jv-json-viewer ol,
jv-json-viewer ul {
  list-style-type: none;
}
jv-json-viewer #main {
  height: 100%;
}
jv-json-viewer .ui-notification {
  background: #ff8;
  font: 12px/24px arial, sans-serif;
  display: none;
  margin: 0 0 0 -4px;
  padding: 0 10px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 10;
}
jv-json-viewer .status-error {
  background: #c00;
  color: #fff;
  display: inline-block;
}
jv-json-viewer .ui-editor {
  float: left;
  height: 100%;
  position: relative;
  width: 50%;
}
jv-json-viewer .ui-resizer {
  background: #ccc;
  border: solid #fff;
  border-width: 0 2px;
  bottom: 0;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
jv-json-viewer .resizing,
jv-json-viewer .resizing:hover,
jv-json-viewer .ui-resizer:hover {
  background: #eee;
  border-color: #eee;
}
jv-json-viewer .ui-field {
  border: 0;
  box-sizing: border-box;
  color: #333;
  height: 100%;
  margin: 0;
  min-width: 0;
  outline: 0 0;
  overflow: hidden;
  padding: 30px;
  resize: none;
  width: 100%;
  width: calc(95%);
}
jv-json-viewer .ui-field:focus {
  color: #000;
}
jv-json-viewer .ui-field:hover {
  overflow: auto;
}
jv-json-viewer .ui-aside {
  background: #fff;
  height: 100%;
  overflow: hidden;
  position: relative;
}
jv-json-viewer .ui-aside:hover {
  overflow: auto;
}
jv-json-viewer .ui-treeview {
  cursor: default;
  padding: 30px;
  position: relative;
}
jv-json-viewer .ui-menu {
  height: 40px;
  position: absolute;
  right: 10px;
  width: 50px;
  z-index: 1;
}
jv-json-viewer .ui-menu::before {
  content: '';
  width: 0;
  height: 0;
  top: 50%;
  left: calc(42%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  border-radius: 5px;
  opacity: 0.5;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: opacity 3500ms ease, -webkit-transform 100ms ease;
  transition: opacity 3500ms ease, transform 100ms ease;
}
jv-json-viewer .ui-menu:hover::before {
  opacity: 1;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
jv-json-viewer .ui-menu-dropdown {
  display: none;
  padding: 20px;
  position: absolute;
  right: -22px;
  top: 18px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
jv-json-viewer .ui-menu:hover .ui-menu-dropdown {
  display: block;
}
jv-json-viewer .ui-menu-panel {
  background: #fff;
  border: solid 1px #ccc;
  box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.2);
  color: #555;
  display: block;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 78%;
  padding: 2px;
  position: relative;
  -moz-user-select: none;
  white-space: nowrap;
}
jv-json-viewer .ui-menu-panel:before {
  background: #fff;
  border: solid #ccc;
  border-radius: 0 0 20px;
  border-width: 1px 0 0 1px;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  right: 18px;
  top: -4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 6px;
}
jv-json-viewer .ui-menu-item {
  color: inherit;
  cursor: pointer;
  display: block;
  padding: 3px 10px 3px 5px;
  text-decoration: none;
}
jv-json-viewer .ui-menu-item:hover {
  background-color: #1e90ff;
  color: #fff;
}
jv-json-viewer .ui-menu-separator {
  border: 0;
  border-top: solid 1px #e5e5e5;
  height: 0;
  margin: 2px -2px;
  padding: 0;
}
jv-json-viewer .ui-menu-item::before {
  content: '';
  display: inline-block;
  width: 1.2em;
}
jv-json-viewer .beautify #beautify::before,
jv-json-viewer .show-indexes #show-indexes::before,
jv-json-viewer .show-types #show-types::before {
  content: '✔';
}
@media (max-width: 500px) {
  jv-json-viewer .ui-editor {
    float: none;
    height: 50%;
    width: 100%;
  }
  jv-json-viewer .ui-field {
    height: calc(95%);
    width: 100%;
  }
  jv-json-viewer .ui-resizer {
    border-width: 2px 0;
    bottom: 0;
    cursor: ns-resize;
    height: 1px;
    left: 0;
    top: auto;
    width: 100%;
  }
  jv-json-viewer .ui-aside {
    height: 50%;
  }
}
jv-json-viewer .popup-container {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
jv-json-viewer .popup-container.show {
  display: table;
}
jv-json-viewer .popup-centerer {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
jv-json-viewer .popup {
  background: url("img/avatar.png") #ffffff bottom center no-repeat;
  border: solid 10px #fff;
  border-radius: 50%;
  cursor: default;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  padding: 4em 5em 6em;
  position: relative;
  text-align: center;
  width: 290px;
}
jv-json-viewer .links {
  font-size: 73%;
  margin-top: 1.4em;
}
jv-json-viewer .link {
  color: #1e90ff;
  cursor: pointer;
  text-decoration: underline;
}
jv-json-viewer .title {
  font-size: 140%;
  font-weight: 700;
}
jv-json-viewer small {
  font-size: 73%;
}
jv-json-viewer .bitcoin {
  background-image: none;
}
jv-json-viewer .bitcoin .main,
jv-json-viewer .second {
  display: none;
}
jv-json-viewer .bitcoin .second,
jv-json-viewer .main {
  display: block;
  margin: 0 -3em;
}
jv-json-viewer .json {
  font-family: monospace;
  line-height: 152%;
  word-wrap: break-word;
}
jv-json-viewer .property {
  color: #204a87;
}
jv-json-viewer .number {
  color: #ad7fa8;
}
jv-json-viewer .string {
  color: #4e9a06;
}
jv-json-viewer .boolean {
  color: #c4a000;
}
jv-json-viewer .null {
  color: #babdb6;
  font-style: italic;
}
jv-json-viewer .error {
  background: url("img/syntax-error.png") repeat-x left bottom;
  border-radius: 3px;
  cursor: default;
  padding: 0;
  text-shadow: none;
}
jv-json-viewer .error::after {
  background: rgba(255, 0, 0, 0.4);
  border-radius: 2px;
  content: "";
  display: block;
  height: 17px;
  left: 10px;
  margin-top: -17px;
  position: absolute;
  width: 10px;
}
jv-json-viewer .error:hover::after {
  background: rgba(255, 0, 0, 0.8);
}
jv-json-viewer .show-indexes ol {
  counter-reset: idx -1;
}
jv-json-viewer .show-indexes ol > li::before {
  color: #a40000;
  content: counter(idx) '.';
  counter-increment: idx;
  font-family: arial;
  font-weight: 700;
  padding: 0 5px 0 0;
  vertical-align: bottom;
}
jv-json-viewer .show-indexes.color ol > li::before {
  background-color: #a40000;
}
jv-json-viewer li,
jv-json-viewer ol,
jv-json-viewer ul {
  display: inline;
  margin: 0;
  padding: 0;
}
jv-json-viewer .beautify li,
jv-json-viewer .beautify ol,
jv-json-viewer .beautify ul {
  border-left: solid 1px transparent;
  display: block;
}
jv-json-viewer .beautify ol,
jv-json-viewer .beautify ul {
  margin: 0 0 0 2px;
  padding: 0 0 0 23px;
}
jv-json-viewer .beautify ol {
  border-radius: 10px 0 0;
}
jv-json-viewer .collapsed > .toggle-end,
jv-json-viewer .toggle {
  cursor: pointer;
  margin: -10px;
  padding: 10px;
}
jv-json-viewer .collapsed:hover > .toggle,
jv-json-viewer .collapsed:hover > .toggle-end,
jv-json-viewer .toggle:hover,
jv-json-viewer .toggle:hover ~ .toggle-end {
  font-weight: 700;
}
jv-json-viewer .toggle:hover::before {
  font-weight: 400;
}
jv-json-viewer .toggle:hover + ol {
  border-left: solid 1px rgba(164, 0, 0, 0.5);
}
jv-json-viewer .toggle:hover + ul {
  border-left: solid 1px rgba(114, 159, 207, 0.5);
}
jv-json-viewer .toggle:hover + ol * {
  color: rgba(164, 0, 0, 0.5);
}
jv-json-viewer .toggle:hover + ul * {
  color: rgba(114, 159, 207, 0.5);
}
jv-json-viewer .collapsed > ol,
jv-json-viewer .collapsed > ul {
  display: none!important;
}
jv-json-viewer .object > .toggle,
jv-json-viewer .object > .toggle-end {
  color: #729fcf;
}
jv-json-viewer .object > .toggle::before {
  border-color: #729fcf;
  color: #729fcf;
}
jv-json-viewer .collapsed.object .toggle-end::before {
  content: '…';
  display: inline;
}
jv-json-viewer .array > .toggle,
jv-json-viewer .array > .toggle-end {
  color: #a40000;
}
jv-json-viewer .array > .toggle::before {
  border-color: #a40000;
  color: #a40000;
}
jv-json-viewer .collapsed.array .toggle-end::before {
  content: attr(card);
  display: inline;
}
jv-json-viewer .array::before,
jv-json-viewer .boolean::before,
jv-json-viewer .number::before,
jv-json-viewer .object::before,
jv-json-viewer .string::before {
  border-radius: 2px;
  color: #fff;
  margin: 0 2px;
  opacity: 0.4;
  padding: 0.1em 0.2em;
  word-wrap: normal;
}
jv-json-viewer .show-types .object::before {
  background-color: #729fcf;
  content: 'object';
}
jv-json-viewer .show-types .array::before {
  background-color: #a40000;
  content: 'array';
}
jv-json-viewer .show-types .number::before {
  background-color: #ad7fa8;
  content: 'number';
}
jv-json-viewer .show-types .string::before {
  background-color: #4e9a06;
  content: 'string';
}
jv-json-viewer .show-types .boolean::before {
  background-color: #c4a000;
  content: 'boolean';
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #3d3d3d;
  background-color: #f1f1f1;
}
* {
  box-sizing: border-box;
}
a {
  color: #3d8ec1;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #347aa6;
}
a:focus {
  outline: none;
  text-decoration: underline;
}
.button,
.input {
  display: inline-block;
  border: 0 solid #367daa;
  border-radius: 3px;
  margin: 0;
  height: 44.8px;
  font-size: 14px;
  line-height: 16.8px;
}
.button:hover,
.input:hover,
.button:focus,
.input:focus {
  border-color: #31719a;
}
.button:focus,
.input:focus {
  outline: none;
}
.button {
  padding: 14px 28px;
  color: #fff;
  background-color: #3d8ec1;
  cursor: pointer;
}
.button:focus {
  background-color: #3780ae;
}
.button:hover {
  background-color: #5099c8;
}
.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button::-moz-focus-inner {
  border: 0;
}
.button_type_download {
  border: none;
  border-radius: 3px;
  padding: 14px 28px;
}
.button_type_download:hover,
.button_type_download:focus {
  color: #fff;
}
.input {
  padding: 14px 14px 14px;
  padding: 13px 14px 12px;
  border: 1px solid #cbcbcb;
  color: #3d8ec1;
  vertical-align: top;
}
.input:hover,
.input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.buttons-group {
  text-align: center;
}
.download-button-container {
  text-align: center;
}
pre {
  display: block;
  font-family: monospace;
  background-color: #e4e4e4;
  padding: 10px;
}
.main-container {
  width: 990px;
  margin: 2px auto 0;
}
@media (max-width: 1010px) {
  .main-container {
    width: 100%;
    padding: 0 20px;
  }
}
.main-header {
  margin: 60px 0;
}
.page-title {
  margin: 0 0 5px;
  font-size: 36px;
  line-height: 54px;
}
.page-title__link {
  text-decoration: none;
}
.page-title_centered {
  text-align: center;
}
.page-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 21px;
}
.page-subtitle_centered {
  text-align: center;
}
.page-section {
  border-bottom: 1px dashed #e2e2e2;
  padding: 25px 0;
}
.section-header {
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  font-style: italic;
  text-align: center;
}
.features-list,
.usage-list {
  margin: 20px 0 20px 40px;
  padding: 0;
  list-style: square;
  color: #d6d6d6;
}
.features-list__item,
.usage-list__item {
  margin-bottom: 10px;
  color: #707070;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
}
.usage-list {
  list-style: decimal;
}
.main-footer {
  margin-top: 30px;
  padding: 10px 0;
  font-size: 12px;
}
.footer-text {
  margin: 0;
  line-height: 20px;
}
.footer-text_position_right {
  float: right;
}
.progress-bar-container {
  margin: 30px 0;
}
/* Simple progress bar styles */
.progress__container {
  width: 100%;
  height: 2px;
}
.progress__container .progress__bar {
  display: none;
  height: 2px;
  background-color: #3d8ec1;
  width: 0;
}
.progress__container_position_fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.progress__container_backgrounded {
  background-color: #d8d8d8;
}
.progress__container_color_green .progress__bar {
  background-color: #4dc84e;
}
.progress__container_color_red .progress__bar {
  background-color: #c8482b;
}
.progress__container_showing .progress__bar {
  display: block;
}
.json-container {
  position: relative;
  min-height: 500px;
}
